[Unit]
Description=Redis redis_instance1 database server
After=network.target

[Service]
ExecStartPre=/bin/mkdir -p /var/run/redis
ExecStartPre=/bin/cp -u /etc/redis_instance1.conf /var/run/redis/redis_instance1.conf
ExecStart=/usr/bin/redis-server /var/run/redis/redis_instance1.conf --daemonize no
ExecStop=/usr/bin/redis-cli -p 6379 shutdown
User=root
Group=root

[Install]
WantedBy=multi-user.target