[Unit]
Description=GUnicorn Daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=vagrant
Group=vagrant
WorkingDirectory=/vagrant/var/sources
# WorkingDirectory=/vagrant/var/www
ExecStart=/virtualenvs/onesim/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 --capture-output --enable-stdio-inheritance --pid /run/gunicorn/pid --log-level=debug --access-logfile=/var/log/gunicorn/access.log --log-file=/var/log/gunicorn/gunicorn.log _project_.wsgi:application
# ExecStart=/virtualenvs/onesim/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 --capture-output --enable-stdio-inheritance --pid /run/gunicorn/pid --log-level=debug --access-logfile=/var/log/gunicorn/access.log --log-file=/var/log/gunicorn/gunicorn.log server:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target